* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Coloca cor cinza clara e fonte poppins*/
body {
    background-color: #fbfbfd;
    font-family: 'Poppins', sans-serif;
}

/*Retira a decoração dos links*/
footer a {
    text-decoration: none;
    color: #fff;
}
/*Coloca cor amarela quando o cursor passa sobre algum link do footer*/
footer a:hover {
    color:#f5cb5c !important;
}
/*Deixa o h5 em branco, posicionamento, tamanho e margem */
footer .container h5 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
/*Faz o efeito amarelo abaixo de cada h5*/
footer .container h5:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f5cb5c;
}
/*Coloca cor amarela nos ícones */
footer ul i {
    color: #f5cb5c;
}
/*Coloca cor cinza na div de copyright  */
footer .copy {
    background-color: #333533;
}



footer .social:hover{
    color: #f5cb5c;
    cursor: pointer;
}


/*ajusta o tamanho da imagem */
.right-image{
    width: 200px;
}

li{
    list-style: none;
}

.google{
    background: none;
    border-radius: 20px;
    padding: 10px;
    width: fit-content;
    border: 1px solid #808080;
}

.relativa{
    position: relative;
}

.joinha{
    position: absolute;
    right: 120px;
    bottom: 35px;
}

.cinza{
    background-color: #F5F7FB;
}

.branco{
    background-color: #FFF;
    border-radius: 15px;
}

.nome{
    width: 200px;
    height: auto;
    cursor: pointer;
    margin-left: 1.5rem;
}

.nome_footer{
    width: 200px;
    cursor: pointer;
    margin-bottom: 1.5rem;
}

.questions{
    width: 400px;
}

#carouselExampleIndicators h2,
#carouselExampleIndicators h4{
    text-shadow: 1px 1px .6px #000;
}

/*scrollbar*/
html::-webkit-scrollbar{
    width: 0.7rem;
}

html::-webkit-scrollbar-track{
    background:#d3dbd7;
}

html::-webkit-scrollbar-thumb{
    background:#606160;
    border-radius: 50px;
}
/*scrollbar*/

